mixin game-intro(gameTitle)
    div.jumbotron#game-intro
        h1= gameTitle
        p.
            You have three attributes: health, strength, and sanity.  All three are automatically tracked by the game,
            but <strong class="text-success">you only get one</strong> of them that you can see.
        p
            button#start-game.btn.btn-primary.btn-lg(role="button") Start game! 
                i.fa.fa-flip-horizontal.fa-truck

mixin stat-chooser()
    div.well.well-lg#stat-chooser(style="display:none;")
        h1 Choose your stat!
        div.row
            div.col-md-4
                div.panel.panel-default
                    div.panel-heading
                        h3.panel-title Health
                            button.btn.btn-primary.btn-xs.pull-right.health(type="button") Choose 
                                i.fa.fa-angle-double-right
                    div.panel-body
                        p.
                            Your health is the most vital attribute; when you reach 0 health, you die.
            div.col-md-4
                div.panel.panel-default
                    div.panel-heading: h3.panel-title Strength
                            button.btn.btn-primary.btn-xs.pull-right.strength(type="button") Choose 
                                i.fa.fa-angle-double-right
                    div.panel-body
                        p.
                            Strength controls how quickly you kill enemies, which in turn controls how much damage
                            you take while in combat.
            div.col-md-4
                div.panel.panel-default
                    div.panel-heading: h3.panel-title Sanity
                            button.btn.btn-primary.btn-xs.pull-right.sanity(type="button") Choose 
                                i.fa.fa-angle-double-right
                    div.panel-body
                        p.
                            Only having two attributes felt lame, so I had to add a third one; this doesn't really
                            impact much, nor does it change drastically throughout the game, but getting to 0 is
                            bad.