mixin game-action()
    div.jumbotron#game-action(style="display:none;")
        p.
            {{ bodytext }}
        ul#choices.list-unstyled
    
    div#choice-template(style="display:none;")
        button.btn.btn-success.btn-lg(type="button")
            i.fa.fa-fw(class="{{ icon }}")
            |  {{ text }}

mixin statistic()
    div#statistic(style="display:none;")
        h2 {{ selected }}
        div.progress
            div.progress-bar(role="progressbar", style="width: {{ 100 * current / maximum }}%;", class="{{extraClass}}")
        div.hax-only(style="display:none;")
            ul.list-unstyled
                li Health: {{ health }}
                li Strength: {{ strength }}
                li Sanity: {{ sanity }}