mixin game-action()
    div.jumbotron#game-action(style="display:none;")
        p.
            {{ bodytext }}
        ul#choices.list-unstyled
    
    div#choice-template(style="display:none;")
        button.btn.btn-primary.btn-lg(type="button")
            i.fa.fa-fw(class="{{ icon }}")
            |  {{ text }}

mixin statistic()
    div#statistic(style="display:none;")
        div.page-header
            h1 {{ selected }}
        div.progress
            div.progress-bar(role="progressbar", style="width: {{ 100 * current / maximum }}%;")