doctype 5
- var gameTitle = "YOGO"
html(lang="en")
    +headers(gameTitle)
    body
        +navbar(gameTitle)

        div.container

            +game-intro(gameTitle)
            
            +stat-chooser()
            
            +game-action()
            
            +statistic()

        +js()
