mixin headers(gameTitle)
    head
        // adapted from Bootstrap Theme sample at http://getbootstrap.com/examples/theme/
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= gameTitle
        link(rel="stylesheet",href="css/bootstrap.css")
        link(rel="stylesheet",href="css/font-awesome.css")
        link(rel="stylesheet",href="css/main.css")

mixin navbar(gameTitle)
    div.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
        div.container
            div.navbar-header
                button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="#")= gameTitle
            div.navbar-collapse.collapse
                ul.nav.navbar-nav
                    li: a(href="#about")
                        i.fa.fa-question-circle
                        |  About
                    li: a(href="javascript:location.reload()")
                        i.fa.fa-refresh
                        |  Restart

mixin js()
    script(src="js/libs.js")
    script(src="js/main.js")